// Screen sizes
// $mobile: 320px;
// $tablet: 768px;
$desktop: 1280px;

// // Colors
$headerBackgroundColor: #1c183a;
$bodyBackgroundColor: #c0c0d6;
$lightColor: #e2dfe1;
$whiteColor: #ffffff;
$textColor: #111111;
$secondaryTextColor: #9fb0be;
$thirdTextColor: #6e6e6e;
$blueColor: #2282f1;
$activeLinkColor: #64a4ee;
$orangeColor: #f27c32;
$hoverOrangeColor: #e4874e;
$primaryGrayColor: #1e1e35;
$secondaryGrayColor: #ebebfd;
$errorColor: #d60202;
$activeColor: #03bd1c;
$modalBackgroundColor: #403b4c82;

$borderColor: #d0cfcf;
$formBackgroundColor: #f8f8f8;
$errorInputColor: #cb3d40;
$lableColor: #7e7e7e;

// animation
$transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
